<div class="card">
  <h5>Lista de Doctores</h5>

  <p-table
    #dt
    [value]="doctors"
    editMode="row"
    [globalFilterFields]="['id_doctor', 'name_doctor', 'lastname_doctor','cedula_doctor','telefono_doctor','direccion_doctor']"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Doctors</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-rows>
      <tr>
        <th pSortableColumn="Id">Id<p-sortIcon field="code"></p-sortIcon></th>
        <th pSortableColumn="Nombre">
          Nombre <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="Apellido">
          Apellido<p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="Cedula">
          Cedula<p-sortIcon field="quantity"></p-sortIcon>
        </th>
        <th pSortableColumn="Telefono">
          Telefono<p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="Direccion">
          Direccion<p-sortIcon field="price"></p-sortIcon>
        </th>

        <th pSortableColumn="Opciones">
          Opciones<p-sortIcon field="price"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="rowData">
        <td>{{ rowData.id_doctor }}</td>
        <td>{{ rowData.name_doctor }}</td>
        <td>{{ rowData.lastname_doctor }}</td>
        <td>{{ rowData.cedula_doctor }}</td>
        <td>{{ rowData.telefono_doctor }}</td>
        <td>{{ rowData.direccion_doctor }}</td>
        <td>
          <button
            (click)="modify(rowData)"
            class="pi pi-user-edit"
            aria-label="Editar"
          >
            Editar
          </button>
          <button
            (click)="delete(rowData)"
            class="pi pi-user-minus"
            aria-label="Eliminar"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
